{% extends 'layoutAdmin.html.twig' %}

{% block title %}Performance{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1 class="ml-2 mb-4">Performance details</h1>
<div class="container">
    <div class="row ml-2 mb-4">
        <a href="{{ path('performance_index') }}" class="btn btn-outline-dark">back to list</a>
        <a href="{{ path('performance_edit', {'id': performance.id}) }}" class="btn btn-success ml-3">edit</a>
        <div class="ml-3">
            {{ include('admin_performance/_delete_form.html.twig') }}
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ performance.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ performance.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ performance.image }}" class="img-crud"></td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
