{% extends 'layout.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
<section>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-7 ml-4">

                <div class="card__box col-md-8 col-sm-12">
                    <div class="card_card shadow">
                        <div class="card__img">
                            <img class="card__img-preview" src="{{ticket.performanceName.image }}" alt="Image name">
                            <div class="card-img-overlay"><span class="badge badge-pill badge-danger">12 ticket left</span> </div>
                        </div>
                        <div class="card__content">
                            <h4 class="card__title">{{ticket.performanceName.title}}</h4>
                            <p class="card__description">Et id consequatur illo quia facere. Autem placeat ipsa inventore rerum expedita dolorum. Nesciunt aut non a officia ex maxime omnis dicta. Fugit deserunt aspernatur qui. Distinctio omnis omnis ut sit perspiciatis quidem voluptatem.</p>
                            <div>
                                <a href="" class="card__bottom">
                                <div class="options">
             <span class="date">
              <i class="fa fa-calendar mr-3" aria-hidden="true"></i>{{ ticket.date | date ('d M Y') }}
             </span>
                                </div>
                                <div class="card__price">
                                    {{ticket.price}} €
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
                </div><!-- /card__box -->

        </div>
                <div class="col-4">
                    {% if app.user %}
                        <div>
                            {{ include('booking/_form.html.twig') }}
                        </div>
            {% endif %}
                </div>
    </div>
    </div>
</section>
{% endblock %}
