{% extends 'layout.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
<section>
    <div class="container-fluid">
      <h1 class="p-5">Next shows</h1>
        <div class="row justify-content-center">
                {% for ticket in tickets %}
                 {%  if date(ticket.date) > date('now', 'Europe/Paris')%}
                <div class="card__box col-md-8 col-sm-12">
                    <div class="card_card shadow">
                        <div class="card__img">
                            <img class="card__img-preview" src="{{ticket.performanceName.image }}" alt="Image name">
                            <div class="card-img-overlay"><span class="badge badge-pill badge-danger">12 ticket left</span> </div>
                        </div>
                        <div class="card__content">
                            <h4 class="card__title">{{ticket.performanceName.title}}</h4>
                            <p class="card__description">Et id consequatur illo quia facere. Autem placeat ipsa inventore rerum expedita dolorum. Nesciunt aut non a officia ex maxime omnis dicta. Fugit deserunt aspernatur qui. Distinctio omnis omnis ut sit perspiciatis quidem voluptatem.</p>
                            <a>
                                <a class="card__bottom">
                                <div class="options">
                                 <span class="date">
                                  <i class="fa fa-calendar mr-3" aria-hidden="true"></i>{{ ticket.date | date ('d M Y') }}
                                 </span><span class="date">{{ ticket.hour | date ('H:i') }}</span>
                                </div>
                                <div class="card__price">
                                    {{ticket.price}} €
                                </div>
                            </a>
                            </a>
                            {% if app.user %}
                                <a href="{{ path('confirmation') }}">
                                <button class="btn btn-primary btn-sm mt-1">Book now</button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    {% endif %}
            {% endfor %}
        </div>

    </div>
</section>
{% endblock %}

