{% extends 'base.html.twig' %}
    {% block title %}E-Ticket{% endblock %}

{% block layout %}
    <div class="container-fluid p-5">
    <h1>Your e-ticket</h1>

        <h3>Name : {{ bookticket.firstname }} {{ bookticket.lastname }}</h3>
        <h3>Email : {{ bookticket.email}} </h3>
        <h3>Performance : {{ bookticket.ticket.performanceName.title }} on {{ bookticket.ticket.date | date("d M Y") }}</h3>
        <h3>Quantity : {{ bookticket.quantity }} </h3>
        {% set total = bookticket.ticket.price *  bookticket.quantity %}
        <h3>Total price : {{ total }} €</h3>
    </div>
{% endblock %}
