{% extends 'layoutAdmin.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1 class="ml-1 mb-3">Edit Ticket</h1>
    <div class="container">
        <div class="col-lg-8 m-0 jumbotron">
            {{ form_start(form) }}
            {{ form_row(form.performanceName) }}
            {{ form_row(form.date) }}
            {{ form_row(form.hour) }}
            {{ form_row(form.price) }}
            <button class="btn btn-success mt-4">Edit</button>
            {{ form_end(form) }}
            <div class="mt-5">
                <a href="{{ path('admin_performance_index') }}" class="btn btn-outline-dark">back to list</a>
            </div>

{% endblock %}
