{% extends 'layoutAdmin.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1 class="mb-3">Ticket index</h1>
    <a href="{{ path('admin_ticket_new') }}" class="btn btn-primary mb-4">Add a new</a>

    <table class="table">
        <thead class="bg-light">
            <tr>
                <th>Date</th>
                <th>Performance</th>
                <th>Price</th>
                <th>Capacity Max</th>
                <th>Number of ticket booked</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.date ? ticket.date|date('d M Y') : ''}}</td>
                <td>{{ ticket.performanceName.title }}</td>
                <td>{{ ticket.price }} €</td>
                <td>{{ ticket.capacityMax }}</td>
                <td>{{ ticket.nbTicketsold }}</td>
                <td  class="d-flex pt-3">
                    <a href="{{ path('admin_ticket_show', {'id': ticket.id}) }}" class="btn btn-secondary mr-2">show</a>
                    <a href="{{ path('admin_ticket_edit', {'id': ticket.id}) }}" class="btn btn-success mr-2">edit</a>
                    <div>
                        {{ include('admin_ticket/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
